---
- name: "REDHAT - Install kmod package"
  ansible.builtin.dnf:
    name: kmod
    state: present
  register: pkg_result
  retries: 12
  delay: 10
  until: pkg_result is success
  when: ansible_os_family in ["RedHat", "Rocky", "OracleLinux"]

- name: "Check for {{ modules_file }}"
  ansible.builtin.stat:
    path: "{{ modules_file }}"
  changed_when: false
  register: module_file

- name: "Ensure config file exists"
  ansible.builtin.file:
    path: "{{ modules_file }}"
    state: touch
    mode: "0644"
  when: not module_file.stat.exists and (ansible_os_family != 'Rocky' or ansible_distribution != 'RedHat')

- name: Initialise conditions for no rhel8 family
  when: not (ansible_os_family == 'Rocky' or ansible_os_family == 'RedHat')
  block:
    - name: "Add modules on modules.conf"
      ansible.builtin.lineinfile:
        dest: "{{ modules_file }}"
        regexp: "^{{ item }}"
        line: "{{ item }}"
        state: present
      with_items:
        - "{{ modules_add_list }}"

    - name: "Remove modules on modules.conf"
      ansible.builtin.lineinfile:
        dest: "{{ modules_file }}"
        regexp: "^{{ item }}"
        state: absent
      with_items:
        - "{{ modules_remove_list }}"

    - name: "Immediately Load modules"
      community.general.modprobe:
        name: "{{ item }}"
        state: present
      with_items:
        - "{{ modules_add_list }}"

    - name: "Immediately Remove modules"
      community.general.modprobe:
        name: "{{ item }}"
        state: absent
      with_items:
        - "{{ modules_remove_list }}"
