---
- name: "Update initramfs"
  ansible.builtin.shell:
    cmd: |
      {% if ansible_facts.os_family == 'Debian' %}
        update-initramfs -u -k all
      {% elif ansible_facts.os_family == 'RedHat' %}
        {% if ansible_facts.distribution_major_version | int >= 8 %}
          dracut --force --regenerate-all
        {% else %}
          dracut --force
        {% endif %}
      {% endif %}
  changed_when: false
  when: ansible_facts.os_family in ['Debian', 'RedHat']
  tags:
    - initramfs
